*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

@import "common/game.scss";

splashscreen{
    display: none;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background: blue;
    > button{
        width: 100px;
        height: 60px;
    }
    &.visible{
        display: flex;
    }
    time{
        padding: 20px;
        height: auto;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: white;
    }
}
playscreen{
    display: none;
    width: 100vw;
    height: 100vh;
    background: red;
    controller{
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
    }
    &.visible{
        display: block;
    }
}
endscreen{
    display: none;
    width: 100vw;
    height: 100vh;
    background: yellow;
    &.visible{
        display: block;
    }
}
characterselection{
    display: none;
    width: 100vw;
    height: 100vh;
    background: turquoise;
    &.visible{
        display: block;
    }
    &.isAngryDad{
        button:nth-child(1){
            background: gray;
        }
        button:nth-child(2){
            background: red;
        }
    }
    button:nth-child(1){
        background: green;
    }
    button:nth-child(2){
        background: gray;
    }
}
